* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

/* inicio slider */

.slider {
  margin: 0 auto 200px auto;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.slides {
  width: 400%;
  height: 650px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 100vw;
  flex-shrink: 0;
  position: relative;
}

.slide img {
  width: 100vw;
  height: 100%;
  object-fit: cover;
}

.manual-navigation {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.manual-btn {
  border: 2px solid green;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: green;
}

#radio1:checked ~ .first {
  margin-left: 0;
  transition: 1s;
}
#radio2:checked ~ .first {
  margin-left: -100vw;
  transition: 1s;
}
#radio3:checked ~ .first {
  margin-left: -200vw;
  transition: 1s;
}
#radio4:checked ~ .first {
  margin-left: -300vw;
  transition: 1s;
}

.navigation-auto div {
  border: 2px solid #20a6ff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.navigation-auto {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: green;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: green;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: green;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: green;
}

.slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
  border-radius: 5px;
  z-index: 10;
  transition: background 0.3s;
}

.slider button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Posicionamento das setas */
.prev {
  left: 30px;
}

.next {
  right: 30px;
}
/* fim slider */

.quadrados {
  background-color: #3ead2f;
  padding: 15px;
  text-align: center;
  font-size: 15pt;
}

.qualidade,
.precojusto,
.atendimento,
.entregas {
  background-color: #fff;
  width: 300px;
  height: 300px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  text-align: center;
  display: inline-flex;
  margin-right: 15px;
  padding: 10px 10px 0px 10px;
  position: relative;
  top: -100px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.quadrados img {
  height: 200px;
  width: 200px;
}

.titulo-quadrado {
  font-size: 20px;
}

.banner_frutas img {
  height: 200px;
  width: 100vw;
  object-fit: cover;
}

.ofertasdia {
  margin-top: 40px;
  text-align: center;
}
.ofertasdia p {
  margin-bottom: 90px;
}

.fundo_ofertas {
  background-image: url("../imagens/Ofertas_fundo.png");
  height: 400px;
  width: 100%;
}
.fundo_ofertas img {
  height: 400px;
  width: 300px;
  position: relative;
  top: -40px;
  margin: 0 30px;
}

.fundo_ofertas img:hover {
  filter: opacity(0.9);
}

.encomendas {
  padding: 15px;
  text-align: center;
}

.encomendas a {
  color: black;
  margin: auto;
  text-decoration: none;
  padding: 15px;
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
}

.encomendas img {
  display: inline-block;
  width: 50px;
  height: 50px;
}

.conhecamercado {
  background-color: #3ead2f;
  text-align: center;
  padding: 15px;
}
.videos {
  display: flex;
  gap: 10px;
}
.iconsVideos {
  height: 500px;
}
.iconsVideos iframe {
  display: block;
  height: 180px;
  width: 100%;
  margin-bottom: 30px;
}

.comoachar {
  padding: 15px;
}

.comoachar h2 {
  text-align: center;
}

.gridmap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}

.mapbox {
  position: relative;
  height: 500px;
  width: 600px;
  background: #fff;
}

.mapbox iframe {
  width: 100%;
  height: 100%;
}

.informacoesmapa a {
  text-decoration: none;
  color: #fff;
  background-color: #3ead2f;
  padding: 15px;
  margin: 15px;
  border-radius: 15px;
}

.cadastro {
  background-color: #3ead2f;
}
