.img_top_somos{
  width: 70%;
  height: 550px;
  display: block;
  margin: 20px auto;
}

main{
  margin: auto;
  max-width: 1100px;
  background-color: white;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

body{
  background-color: #3ead2f50;
  background-size: contain;
}

.img-top{
  /*background-color: #3ead2f;*/
  padding: 20px;
}

.titulo-quemsomos{
  margin-top: 50px;
  text-align: center;
  font-size: 27pt;
  background-color: #108a00 ;
  border-radius: 10px;
  padding: 30px;
  color: rgb(255, 255, 255);
}

.paragrafo-quemsomos{
  font-size: 17pt;
  padding: 20px;
  text-align: justify;
}

.div-grid{
  margin: 30px auto 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 73%;
  align-items: center;
  gap: 20px;
}

.img_centro_somos{
  height: 500px;
}

.img-final-somos{
  height: 550px;
  margin: auto;
  display: block;
}
.bottomdiv {
  padding: 20px;
}

@media (max-width: 999px) {
  .img_top_somos {
    width: 100%;
    height: auto;
  }
  .img-final-somos {
    width: 100%;
    height: auto;
  }
  .img_centro_somos {
    width: 100%;
    height: auto;
  }
  .div-grid {
    display: block;
    margin: 0;
    width: auto;
    align-items: stretch;
    padding: 20px;

  }
}